.form-control.number{
    width: 70px;
}

legend{
    border-bottom: none;
    margin-bottom: 5px;
}

.scale, .grid{
    margin-bottom: 20px;
}

.generation-counter{
    padding-top: 20px;
    padding-right: 32px;
    font-weight: bold;
}
span.generation-counter{
    color:red;
}